@import url(https://meyerweb.com/eric/tools/css/reset/reset200802.css);
* {
  box-sizing: border-box;
  transition: 0.5s;
}

:root {
  --Baby-blue: #DBE4EF;
  --branco: white;
  --Azul-Dark: #041832;
  --Cinza-claro: #EDF0F4;
  --Cinza-medio: #8F8F8F;
  --Cinza: #444;
  --Azul-medio: #144480;
  --fonte-primaria: "Poppins", sans-serif; 
}
html {
  scrollbar-color: var(--Azul-Dark) var(--Baby-blue);
  scrollbar-width: thin;
}
body {
  font-family: var(--fonte-primaria);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: clamp(2rem, 5vw, 7.5rem);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 175rem;
  box-sizing: border-box; 
}

.overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../imagens/background.png'); 
  background-size: contain;
  background-position: bottom;
  opacity: 0.5;
  z-index: -1;
}

.overlay-color {
  background-color: #F4F4F4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Azul-Dark);
  height: 75vh;
  width: 100vw;
}

.conteudo-cabecalho {
  display: flex;
  align-items: center;
  gap: 10vw;
}

header .logo {
  display: flex;
  flex-direction: column;
  gap: 6.5vw;
}

header .logo img {
  max-width: clamp(10.5rem, 10.5vw, 21.25rem);
}

header .logo h1 {
  color: var(--Baby-blue);
  font-family: var(--fonte-primaria);
  align-self: center;
  font-size: clamp(1rem, 2.5vw, 3.75rem);
  font-weight: 300;
  line-height: clamp(1.25rem, 5.5vh, 3rem);
}

.imagem-cabecalho img {
  max-width: 32.5vw;
}

footer {
  padding: 1.5rem;
  background: #041832;
  color: var(--Baby-blue, #DBE4EF);
  text-align: center;
  width: 100%;
  position: relative;
  left: 0;
}

h2, h3 {
  color: var(--Azul-Dark, #041832);
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: clamp(1rem, 3.5vw, 2.75rem);
  font-weight: 600;
}

.show__form {
  color: var(--Baby-blue);
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: clamp(0.65rem, 2.5vw, 1.375rem);  
  font-weight: 600;

  padding: clamp(0.25rem, 1vw, 0.5rem) clamp(1rem, 5vw, 2rem);
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  background: var(--Azul-Dark);
}
.show__form:hover {
  background: var(--Azul-medio);
  border: 2px solid var(--Azul-medio);
}

.show__form:active {
  background-color: transparent;
  color: var(--Azul-medio);
}

.form__container {
  display: flex;
  padding: 3rem 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: center;
  justify-content: center;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0.5rem 0.5rem 1.25rem 0px rgba(4, 24, 50, 0.08);
  width: 100%;
  width: clamp(20rem, 50vw, 44.5rem);
  margin-top: 2.5rem;
}

#pensamento-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#pensamento-conteudo, #pensamento-autoria {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--Cinza-claro, #EDF0F4);
  word-wrap: break-word; 
  overflow-wrap: break-word;
  resize: none; 
}

#pensamento-conteudo {
  min-height: 5rem;
}

#pensamento-form label {
  margin-bottom: 1rem;
  color: var(--Azul-Dark, #041832);
  font-family: var(--fonte-primaria);
  font-size: clamp(0.75rem, 3.5vw, 1.75rem);
  font-weight: 600;
}

#pensamento-conteudo::placeholder, #pensamento-autoria::placeholder {
  color: var(--Cinza-medio, #8F8F8F);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
}

#pensamento-form textarea,
#pensamento-form input {
  margin-bottom: 1.5rem;
  outline: none;
  border-style: none;
  font-size: 1.25rem;
  font-family: var(--fonte-primaria);
}

.form-botoes {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  padding-top: 1rem;
}

.botao__form {
  padding: 1rem;
  border: 1px solid var(--Azul-Dark);
  border-radius: 2rem;
  color: var(--Baby-blue, #DBE4EF);
  font-family: var(--fonte-primaria);
  font-size: clamp(0.5rem, 2.5vw, 1.5rem);
  font-weight: 600;
}

#botao-salvar, #botao-editar {
  background: var(--Azul-Dark, #041832);
  border: none;
  min-width: 10rem;
}

#botao-cancelar {
  color: var(--Azul-Dark, #041832);
}

#lista-pensamentos-container {
  width: 100%;
  max-width: 92.5vw;
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
}

#lista-pensamentos-container h3 {
  margin: 2.5rem 0;
}

.busca__pensamentos {
  background-color: transparent;
  border: solid 1px var(--Azul-medio);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: clamp(13.75rem, 30.625%, 37.7rem);
  margin: 1.5rem auto;
}
.busca__pensamentos::placeholder {
  color: var(--Cinza-medio);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
}
#lista-pensamentos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.li-pensamento {
  position: relative;
  padding: 1rem;
  padding-bottom: 2.5rem;
  background: var(--branco);
  box-shadow: 0.5rem 0.5rem 0px 0px #154580;
  flex: 2 1 clamp(5rem, 10vw, 75%);
  max-width: max-content;
  min-width: clamp(6rem, 30vw, 90%);
  max-height: 24.75rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.li-pensamento.buscado {
  background: var(--Baby-blue);
}

.icone-aspas {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: clamp(1.5rem, 3vw, 4rem);
  height: clamp(1.5rem, 3vw, 3.75rem);
}

.pensamento-conteudo, .pensamento-autoria {
  margin-left: 1.25rem;
  color: var(--Cinza, #444);
  font-family: "Roboto Mono";
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.pensamento-conteudo {
  margin-top: 6rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.pensamento-autoria {
  font-size: 1.375rem;
  font-weight: 600;
}

.icones {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.botao-editar, .botao-excluir, .botao-curtir {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.botao-editar img, .botao-excluir img, .botao-curtir img {
  width: 1.25rem;
  height: 1.25rem;
}

span {
  width: 11.25rem;
  height: 0.0625rem;
  background: #041832;
  margin: 6rem 0 3rem 0;
}

.lista__vazia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.lista__vazia__mensagem {
  color: var(--Azul-Dark);
  font-size: clamp(0.75rem, 1.5vw, 1.375rem);
  line-height: 33px;
  text-align: center;
}
.lista__vazia__imagem {
    width: 12.25%;
}

.invisivel {
  display: none;
}

@media  screen and (max-width: 475px) {
  #lista-pensamentos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .li-pensamento {
    align-self: center;
    max-width: auto;
    min-width: 95vw;
    width: 100%;
    max-height: 24.75rem;
  }
}
